.Title-sec{
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;
}
@media (min-width: 576px){
    .Title-sec,
    .Title-bg{
        text-align: center!important;
    }
    
}
@media (max-width: 576px){
    .Title-sec{
        padding-left: 15px;
        padding-right: 15px;
    }
    .Title-sec-h1{
        font-size: 35px!important;
    }
    .main-section{
        padding-bottom: 0;
        padding-top: 0;
    }
}

.Title-sec-h1 {
    font-size: 5.6rem;
    font-weight: 900!important;
    color: var(--primary-color-blue);
    text-transform: uppercase;
    margin: 0;
}
.Title-bg {
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: hsla(0,0%,100%,.07);
}
@media (max-width: 767px){
    .Title-bg{
        font-size: 45px;
    }
}
.main-section{
    padding-bottom: 20px;
}

@media (min-width: 1400px){
    .content{
        max-width: 1320px;
    }
}
@media (min-width: 1200px){
    .content{
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .content{
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .content{
        max-width: 720px;
    }
}
@media (min-width: 576px){
    .content{
        max-width: 540px;
    }
}
.content{
    max-width: 1200px ;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.port-ul{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center!important;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
}
.port-li{
    list-style: none;
    width: 33.333333%;
    float: left;
    cursor: pointer;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    
    
}
@media (max-width: 991px){
    .port-li{
        width: 50%;
    }
}
@media (max-width: 1199px){
    .port-li{
        width: 50%;
    }
}

@media (max-width: 576px){
    .port-li{
        width: 100%;
        padding: 10px 0;
    }
}
.port-figure{
    transition: .3s;
    border-radius: 5px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    margin: 0;
}
.post-figure:before {
    content: "";
    position: absolute;
    background: var(--main-primary-color);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.port-img{
    display: block;
    max-width: 100%;    
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.caption{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, 20%); */
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    transition: all .5s ease-out ;
    backface-visibility: hidden;
}
.port-figure:hover .caption{
    background-color: var(--primary-color-blue);
    opacity: 1;
}