.Title-sec{
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;
}
@media (min-width: 576px){
    .Title-sec,
    .Title-bg{
        text-align: center!important;
    }
    
}
@media (max-width: 576px){
    .Title-sec{
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: center;
    }
    .Title-bg {
        display: flex;
        justify-content: center;
    }
    .Title-sec-h1{
        font-size: 35px!important;
    }
    .main-section{
        padding-bottom: 0;
        padding-top: 0;
    }
}

.Title-sec-h1 {
    font-size: 5.6rem;
    font-weight: 900!important;
    color: var(--primary-color-blue);
    text-transform: uppercase;
    margin: 0;
}
.Title-bg {
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: hsla(0,0%,100%,.07);
}
@media (max-width: 767px){
    .Title-bg{
        font-size: 45px;
    }
}
@media (min-width: 1400px){
    .content{
        max-width: 1320px;
    }
}
@media (min-width: 1200px){
    .content{
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .content{
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .content{
        max-width: 720px;
    }
}
@media (min-width: 576px){
    .content{
        max-width: 540px;
    }
}
.content{
    max-width: 1200px ;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 7rem;
    margin-bottom: 5rem;
}
.contact{
    overflow: hidden;
}
.row,.row1{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-left: calc(var(--bs-gutter-x)*-.5);
    
}
/* .row1{
    justify-content: space-between;
} */
.row>* {
    padding-left: 15px;
    padding-right: 15px;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-top: var(--bs-gutter-y);
    box-sizing: border-box;
}

.col-8{
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 992px){
    .col-8{
        flex: 0 0 auto;
    width: 33.33333333%;
    }
}
@media (max-width: 992px){
    .col-8{
        padding-left: 4rem!important;
    }
}
.custom-title{
    padding-bottom: 22px;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase!important;
    line-height: 1.2;
    margin-bottom: 0!important;
    padding-bottom: 1rem!important;
}

@media (min-width: 1200px){
    .custom-title{
        font-size: 2.65rem;
    }
}
.contac-para{
    font-family: Open Sans,sans-serif;
    margin-top: 0;
    margin-bottom: 1.5rem!important;
}
.icon{
    color: var(--primary-color-blue);
    left: 0;
    top: 10px;
    font-size: 3.5rem;
    display: inline-block;
    text-rendering: auto;
}

.info-para{
    font-weight: 600;
    padding-left: 15px;
    line-height: 25px;
    /* padding-top: 5px; */
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Open Sans,sans-serif;
    position: relative!important;
}
.info-head{
    text-transform: uppercase;
    opacity: .8;
    font-weight: 400;
    padding-bottom: 0;
    display: block!important;
}

.information{
    display: flex;
    margin-top: 2rem;
}
.social-ul{
    margin-left: -5px;
    margin-top: 0.5rem;
    padding-top: 15px!important;
    list-style: none;
    margin-bottom: 3rem!important;
}
.social-li{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: inline-block;
    /* height: 40px;
    width: 40px; */
    /* line-height: 42px; */
    text-align: center;
    color: #fff;
    transition: .3s;
 
    margin: 0 6px;
    /* background: #2b2a2a; */
    cursor: pointer!important;
    border-radius: 50%;
}
.social-icon:hover{
    color: var(--primary-color-blue);
}
.social-iconIns:hover{
    color: blueviolet;
}
.form-sec{
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 992px){
    .form-sec{
        flex: 0 0 auto;
    width: 66.66666667%;
    }
}
@media (max-width: 992px){
.contactform{
    padding-left: 2.5rem !important;
}
}

.col-11{
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    /* padding-left: 15px; */
    padding-right: 15px;
}
@media (min-width: 768px){
    .col-11{
        flex: 0 0 auto;
    width: 50%;
    }
}
.formgroup {
    margin-bottom: 30px;
    box-sizing: border-box;
}
input[type=email],input[type=text] {
    border: 1px solid #111;
    width: 100%;
    background: #252525;
    color: #fff;
    padding: 11px 26px;
    border-radius: 30px;
    outline: none!important;
    box-sizing: border-box;
    transition: .3s;
}
input[type=email]:focus,input[type=text]:focus,textarea:focus{
    border: 1px solid var(--primary-color-blue);
}
input, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.col-112{
    flex: 0 0 auto;
    width: 100%;
}
textarea{
    border: 1px solid #111;
    background: #252525;
    color: #fff;
    width: 100%;
    padding: 12px 26px;
    height: 220px;
    overflow: hidden;
    border-radius: 30px;
    outline: none!important;
    transition: .3s;
    box-sizing: border-box;
}
.button{
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    text-decoration: none!important;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none!important;
    cursor: pointer!important;
    border: 1px solid var(--primary-color-blue);
}

.button-text{
    position: relative;
    z-index: 2;
    color: #fff;
    transition: all .3s ease-out;
}

.button-icon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #fff;
    border-radius: 50%;
    font-size: 15px;
    background-color: var(--primary-color-blue);
}
.button:hover:before {
    transform: translateX(0);
}
.button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-out;
    background-color: var(--primary-color-blue);
}
.form-error{
    color: #f65c78;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-left: 3rem;
}
.form-success{
    color: #51b301;
    font-size: 1.7rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-left: 3rem;
}